@charset "UTF-8";
/* Definiowanie zmiennych */
/* Resetowanie marginesów i wypełnień */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Stylizacja dla całej strony */
body {
	font-family: "Roboto", sans-serif;
	line-height: 1.6;
	color: #3f78b1;
	padding: 20px;
	background-color: #6e6e6e;
}

/* Stylizacja dla nagłówka */
header {
	display: flex;
	background-color: #f5f5dc;
	color: #552525;
	text-align: start;
	position: fixed;
}
header h1 {
	margin-left: 25px;
	color: #552525;
	font-size: 2.5rem;
	font-weight: 700;
}

header nav {
	list-style: none;
	padding: 0;
}
header nav a {
	color: #552525;
	text-decoration: none;
	font-weight: 600;
	padding: 10px 15px;
	border-radius: 8px;
	transition: background 0.5s;
}
header nav a:hover {
	background: #5d92c6;
	border: 1px solid #ecf0f1;
}

/* Stylizacja dla głównej części strony */
main {
	margin-top: 20px;
}
main section {
	display: flex;
	background-color: #cecece;
	margin-bottom: 20px;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
main section h2 {
	margin-bottom: 15px;
	color: #3f78b1;
	font-size: 1.75rem;
}

main section p {
	margin-bottom: 15px;
	font-size: 1rem;
	color: #244566;
	text-align: center;
	width: 30vw;
}

main div img {
	object-fit: contain;
	width: 30vw;
}

.grid-containter {
	display: grid;
	grid-template-columns: auto auto;
}
.grid-item {
	padding: 30px;
	text-align: center;
}

/* Stylizacja dla stopki */
footer {
	text-align: center;
	margin-top: 20px;
	padding: 15px 0;
	background: #f5f5dc;
	color: #552525;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
footer p {
	font-size: 0.875rem;
}

/* Responsywność */
@media (max-width: 768px) {
	header h1 {
		font-size: 2rem;
	}
	nav ul li {
		margin: 0 10px;
	}
	section {
		padding: 15px;
	}
}
@media (max-width: 480px) {
	nav ul {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	nav ul li {
		margin: 5px 0;
	}
	header h1 {
		font-size: 1.75rem;
	}
	section h2 {
		font-size: 1.5rem;
	}
	section p {
		font-size: 0.95rem;
	}
}
